html,
body {
  height: 100%;
}

.navbar-light  .navbar-nav .nav-link, li button .far {
  color: pink;
}
.navbar-light .navbar-brand{
    color: pink;
}

th {
  text-transform: uppercase;
}
.modal-content {
  background-color: rgb(255, 169, 88);

  color: white;
}
.no-btn{
  border-color: #212529;
}
.cap{
text-transform: uppercase;
color: black;

}
footer{
   background-color: rgb(255, 169, 88);
}
nav{
  background-color: rgb(255, 169, 88, 0.3);
}
