html,
body {
  height: 100%;
}

.navbar-light  .navbar-nav .nav-link, li button .far {
  color: pink;
}
.navbar-light .navbar-brand{
    color: pink;
}

th {
  text-transform: uppercase;
}
.modal-content {
  background-color: rgb(17,19,21, 0.4);;

  color: white;
}
.no-btn{
  border-color: #212529;
}
.cap{
text-transform: uppercase;
color: black;

}
