<!DOCTYPE html>
<html lang="en">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIBRERIA</title>
    <!-- <link rel="stylesheet" th:href="@{../static/style.css}"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/923eec1284.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!--<link rel="stylesheet" href="../static/css/style.css">-->
</head>

<body>
    <nav class="navbar navbar-expand-md menu">
        <div class="container">
            <a class="navbar-brand" th:href="@{/inicio}">Egg-Book</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav text-end">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/libro}">Libro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/autor}">Autor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/editorial}">Editorial</a>
                    </li>
                    <li class="nav-item">
                        <button title="Agregar Editorial" type="button" class="btn" data-bs-toggle="modal"
                            data-bs-target="#agregarEditorial">
                            <i class="far fa-plus-square"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div th:if="${editoriales.isEmpty()}" class="text-center">
        <h5>No hay ninguna Editorial registrada</h5>
        <button title="Agregar Editorial" type="button" class="btn" data-bs-toggle="modal"
            data-bs-target="#agregarEditorial">
            Agregar Editorial
        </button>
    </div>
    <div class=" container-fluid">
        <div class="row justify-content-center">
            <div class="alert alert-secondary alert-dismissible fade show col-5 text-center" role="alert" th:if="${exito != null}">
                <strong th:text="${exito}"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="alert alert-warning alert-dismissible fade show col-5 text-center" role="alert" th:if="${error != null}">
                <strong th:text="${error}"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <main th:unless="${editoriales.isEmpty()}" class="container-fluid">
        <div class="table-responsive">
        <table class="table table-hover text-center table-sm table-borderless">
            <thead>
                <tr>
                    <th scope="col">Editorial</th>
                    <th scope="col">Bibliografia</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Des/Habilitar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="editorial : ${editoriales}">
                    <td th:text="${editorial.nombre}"></td>

                    <td th:if="${editorial.estado}">
                        <button class="btn" title="Bibliografia" type="button">
                            <i class="far fa-paper-plane"></i>
                        </button>
                    </td>
                    <td th:unless="${editorial.estado}">
                        <button disabled class="btn" title="Bibliografia" type="button">
                            <i class="far fa-paper-plane"></i>
                        </button>
                    </td>

                    <td th:if="${editorial.estado}">
                        <button class="btn" title="Editar" type="button" data-bs-toggle="modal"
                            th:attr="data-bs-target=|#modificar${editorial.id}|">
                            <i class="far fa-edit"></i>
                        </button>
                    </td>
                    <td th:unless="${editorial.estado}">
                        <button disabled class="btn" title="Editar" type="button" data-bs-toggle="modal"
                            th:attr="data-bs-target=|#modificar${editorial.id}|">
                            <i class="far fa-edit"></i>
                        </button>
                    </td>

                    <td th:if="${editorial.estado}">
                        <button class="btn" title="Deshabilitar" type="button" data-bs-toggle="modal"
                            th:attr="data-bs-target=|#habilitarDeshabilitar${editorial.id}|">
                            <i class="far fa-minus-square"></i>
                        </button>
                    </td>
                    <td th:unless="${editorial.estado}">
                        <button class="btn" title="Habilitar" type="button" data-bs-toggle="modal"
                            th:attr="data-bs-target=|#habilitarDeshabilitar${editorial.id}|">
                            <i class="far fa-plus-square"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </main>
    <!-- Editar editorial -->
    <div class="table-responsive">
        <div th:each="editorial : ${editoriales}">
            <div class="modal fade" th:attr="id=|modificar${editorial.id}|" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modificar Editorial</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form autocomplete="off" th:action="@{editorial/modificar-nombre}" method="POST"
                                class="needs-validation" novalidate>
                                <label th:attr="for=${editorial.id}">Nombre del la Editorial</label>
                                <input class="form-control" th:value="${editorial.nombre}" type="text" name="nombre"
                                    placeholder="Nombre" required>
                                <input type="hidden" th:value="${editorial.estado}" name="estado">
                                <input type="hidden" th:value="${editorial.id}" name="id">
                                <div class="invalid-feedback">creo que se te olvido algo :(</div>
                                <button title="Guardar Cambios" type="submit" value="Submit" class="btn no-btn">Guardar
                                    Cambios</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- habilitar/deshabilitar editorial -->
            <div class="modal fade" th:attr="id=|habilitarDeshabilitar${editorial.id}|" tabindex="-1"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Deshabilitar Editorial</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form autocomplete="off" th:action="@{editorial/modificar-estado}" method="POST">
                                <div><span
                                        th:text="|Confirmas el cambio de estado de la editorial: ${editorial.nombre}|"></span>
                                </div>
                                <input type="hidden" th:attr="value=${editorial.estado}" name="estado">
                                <input type="hidden" th:attr="value=${editorial.id}" name="id">
                                <button title="Confirmar" type="submit" value="Submit" class="btn no-btn">Si</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- agregar editorial -->
        <div class="modal fade" id="agregarEditorial" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Agregar Editorial</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form autocomplete="off" th:action="@{editorial/guardar}" method="POST" class="needs-validation"
                            novalidate>
                            <label for="nombre">Nombre del la Editorial</label>
                            <input class="form-control" id="nombre" placeholder="Nombre" required type="text"
                                name="nombre">
                            <div class="invalid-feedback">creo que se te olvido algo :(</div>
                            <button title="Guardar Autor" type="submit" value="Submit" class="btn no-btn">Agregar
                                Editorial</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

</body>

</html>